# Environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Raw data (too large for git)
data/fraudTrain.csv
data/fraudTest.csv
